@import '../../scss/stlyes.scss';

@font-face {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    src: url('https: //fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}

.powName{
    font-family: "Press Start 2P", system-ui !important;
    font-size: 2vh;
    fill: #FFE500;
}

.firstLeader{
    font-family: "Press Start 2P", system-ui !important;
    font-size: 1.75vh;
    fill: #FFE500;
}
.secondLeader{
    font-family: "Press Start 2P", system-ui !important;
    font-size: 1.75vh;
    fill: #C1C1C1;
}
.thirdLeader {
    font-family: "Press Start 2P", system-ui !important;
    font-size: 1.75vh;
    fill: #B44100;
}
.playerLeader{
    font-family: "Press Start 2P", system-ui !important;
    font-size: 1.75vh;
    fill: #FEFDE8;
}

@media (max-width: 850px) {
    #soldier,#pole,#lead_pole,#lead_base{
        display: none;
        width: 100%;
    }
    #pow{
        position: relative;
        top:-1.5vh !important;
        transform: scale(0.85);
    }
    #lead_svg{
        transform: scale(0.8);
        position: relative;
        top:-55px !important;
        left: -40px !important;
    }
}

@media (min-width: 850px) and (max-width: 1200px) {
    #soldier,#pole,#lead_pole,#lead_base{
        display: none;
        width: 100%;
    }
    #pow{
        position: relative;
        top:-1.5vh !important;
        right: -100px !important;
        transform: scale(0.85);
    }
    #lead_svg{
        transform: scale(0.8);
        position: relative;
        top:-55px !important;
        right: -90px !important;
    }
}