@import '../../scss/stlyes.scss';

#GameRules{
    margin-top: 45vh;
    background-color: #005E7A;
    width: 100%;
    padding: 6vh 8vh 8vh 8vh;
    margin-bottom: 20vh;
}

.ruleTitle{
    color: #FEFDE8;
    text-align: center;
    font-weight: 800;
    font-size: 6vh;
    margin-bottom: 3vh;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    cursor: default;
}

#carouselLanding {
    width: 100%;
}

.carouselImage {
    height: 55vh;
    filter: blur(10px); /* Add this line to apply the blur effect */
}

.carousel-caption{
    color: black !important;
}

.ruleContainer{
    padding: 6vh !important;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}



@media (max-width: 500px) {
    #GameRules{
        margin-top: 15vh;
        padding: 2vh 2vh 2vh 2vh;
        margin-bottom: 10vh;
    }
    .ruleTitle{
        font-size: 4.5vh;
    }
    .ruleContainer{
        padding: 2vh !important;
    }
    .carousel-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .carouselImage {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        height: 55vh;
    }
    .carousel-caption{
        margin-bottom: 0%;
    }

}