@import '../../scss/stlyes.scss';

@media screen and (min-width:992px) {
	.nav-item {
		line-height: 80px;
	}
}

#Navbar{
	padding-bottom: 3vh;
}

#headerNav{
	background-color: #151F2B;
}

#containerDrop{
	height: 33vh !important;
}

#logoNav{
	cursor: pointer;
}

.nav-item {
	font-size: 2.5vh;
	padding-left: 2.5vh;
	padding-right: 2.5vh;
}

.navElem {
	cursor: pointer;
}

.navLinkActive {
	color: white !important;
	border-bottom: 3px solid #FEFDE8 !important;
}

.navElem:hover {
	border-bottom: 3px solid #FEFDE8;
}

.profileGreet{
	color: #fefde89b;	
	margin-left: 4vh;
	width: 260px; 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
	@media (max-width: 1400px) {
			display: none;
		}
}

.profileLogo{
	margin-left: -6vh;
	@media (max-width: 1400px) {
		margin-left: 100%;
	}
}

.profileSection{
	position: absolute;
	display: flex;
	margin-left: 45%;
	@media (max-width:992px) {
		position: relative;
		top: -33vh;
		left: -2vh;
	}

	@media (max-width: 700px) {
		left: -10vh;		
	}

	@media (max-width: 500px) {
		top: 0.5vh;
		left: -15vh;		
	}
}

.profilePic{
	padding: 0.25vh;
	width: 7vh;
	height: 7vh;
	border-radius: 100%;
}

.profilePic:hover{
	border: solid 4px #FEFDE8;
}

#navbarLogo{
	height: 80px;
	@media (max-width: 1000px) and (orientation: landscape) {
		height: 45px;
	}
}