@media screen and (min-width:992px) {
	.nav-item {
		line-height: 80px;
	}
}

#headerNav{
	background-color: #151F2B;
}

#logoNav{
	cursor: pointer;
}

.nav-item {
	font-size: 2.25vh;
	padding-left: 2.5vh;
	padding-right: 2.5vh;
}

.navElem {
	cursor: pointer;
}

.navLinkActive {
	border-bottom: 2px solid #f69ec4 !important;
}

.navElem:hover {
	border-bottom: 2px solid #f69ec4;
}
