@import '../../scss/stlyes.scss';

.Register{
    padding-top: 23vh;
}

#registerButton{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #151F2B !important;
    color: white;
}

#loginLink{
    color: #FB5621;
    padding-top: 0.5vh;
}

@media (max-width: 1000px) {
    #soldier{
        display: none;
        width: 100%;
    }
}