@import '../../scss/stlyes.scss';

i {
    font-size: 1.8em;
}

.iconWrapper{
    justify-content: center;
    text-align: center;
    margin-left: 1vh;
    border-radius: 2vh;
}

.techName{
    font-size: 2.3vh !important;
    font-weight: bolder;
}

#TechSection {
    padding-top: 15vh;
    background-color: #151F2B;
}

.TechContainer {
    padding: 0 4vh 4vh 4vh !important;
    border-radius: 15px;
    background-color: #035e7b;
    margin-bottom: 2vh;
}

.techIntro {
    color: #FEFDE8;
    font-size: 4vh;
    margin-bottom: 4vh;
}

.techTitle {
    color: #151F2B;
    background-color: #FEFDE8;
    border-radius: 8px;
    text-align: left;
    font-size: 2vh;
    margin-top: 3vh !important;
    display: flex;
    align-items: center;
    justify-content: start;
}

.rowContainer {
    text-align: center !important;
    color: #FEFDE8 !important;
}

@media (max-width: 1000px) {
    i {
        font-size: 1.2em;
    }
}

@media (max-width: 800px) {
    i {
        font-size: 0.8em;
        position: relative;
        right: 0.8vh;
    }
}

