@import '../../scss/stlyes.scss';

#PlayNow {
    margin-bottom: 10vh;
    margin-top: -6vh;
    background-color: #005E7A;
    height: 50vh;
    padding-top: 4vh;
}

.playTitle {
    color: #FEFDE8;
    text-align: center;
    font-weight: 800;
    font-size: 4vh;
    margin-bottom: 3vh;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.playContainer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding-top: 1vh;
    height: 30vh;   
    margin-bottom: 30vh;
}

.playLogo {
    height: 30vh;
    width: 30vh;
}

.playDescription {
    color: #FEFDE8;
    font-size: 2vh;
    padding: 3vh;
    text-align: justify;
}

.playButton {
    background-color: #FEFDE8;
    color: #151F2B;
    padding: 1.5vh;
    border-radius: 20px;
    font-size: 3vh;
    margin: 2vh 5vh 0 5vh;
    cursor: pointer;
}

.playMargin{
    margin-left: 2vh;
    margin-right: 2vh;
}

.sectionDivider{
    width: 70%;
    height: 2vh;
    background-color: #005E7A;
    border-radius: 20px;
    margin: auto;
}