@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    src: url('../scss/fonts/Dosis-VariableFont_wght.ttf');
}

$font: 'Dosis', sans-serif;

body, html {
    background-color: #FEFDE8;
    font-family: $font;
    font-weight: 600;
}

.loading {
    animation: rotate 1.5s infinite;

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}