@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    src: url('../scss/fonts/Dosis-VariableFont_wght.ttf');
}

$font: 'Dosis', sans-serif;

body {
    background-color: #FEFDE8;
    font-family: $font;
    font-weight: 600;
}